section > h1 {
    text-align: center;
}

.account-menu, .account {
    border: 1px solid black;
    border-radius: var(--border);
    background-color: white;
}

.account-menu {
    display: inline-block;
    margin: 0px 2% 10px;
    width: 20%;
    text-align: center;
    background-color: white;
}


.account-menu > a {
    display: block;
    margin: 10px 40px;
    padding: 10px 0px;
    text-decoration: none;
    color: black;
}

section > aside > hr {
    width: 80%;
    text-align: center;
}

section > aside > a:hover {
    background-color: var(--hover_pulsante);
}

.account {
    margin-right: 3%;
    width: 65%;
    float: right;
    text-align: center;
    overflow-y: auto;
    height: 400px;
    margin-bottom: 30px;
}

.account::-webkit-scrollbar {
    display: none;
}


@media screen and (max-width: 768px) {
    

    section, .articoli {
        text-align: center;
    }

    .account-menu, .account {
        width: 80%;
        margin: 10px 0px;
        float: none;
    }

    .account{
        display: inline-block;
        float: none;
    }

}