
article, article > section > form > input {
    border: 1px solid black;
    border-radius: var(--border);
}

article {
    margin: 5% 5% 0%;
    padding: 2% 0%;
    background-color: var(--second_color);
}

article:last-child{
    margin-bottom: 5%;
}

article > header{
    display: inline-block;
    text-align: center;
    width: 50%;
}

article > header > img{
    width: 80px;
    height: 80px;
}

article > header > h2{
    font-size: 20px;
}

article > section{
    float: right;
    margin-right: 10%;
    width: 40%;
    text-align: center;
}

article > section > p{
    font-size: 18px;
    margin: 10px 0px 10;
}

article > section > form > input{
    font-size: 18px;
    margin: 10px 0px 10;
}

article > section > form > input:hover {
    background-color: var(--hover_pulsante);
}