article, .link, .crea {
    border: 1px solid black;
    border-radius: var(--border);
}

.crea{
    display: inline-block;
    line-height: 180px;
    height: 180px;
    width: 250px;
    text-align: center;
    margin: 8px 2%;
    vertical-align: top;
    background-color: var(--second_color);
}

.crea > a{
    text-decoration: none;
    color: black;
    padding: 80px 15px;
}

article{
    display: inline-block;
    height: 180px;
    width: 250px;
    text-align: center;
    margin: 8px 2%;
    background-color: var(--second_color);
}

article >  header > img{
    width: 80px;
    height: 80px;
    margin: 10px 0px;
}

header > h2{
    margin-bottom: 10px;
    font-size: 14px;
    display: block;
}

.link {
    padding: 5px 20px;
    text-decoration: none;
    color: black;
}

.link:hover, .crea:hover {
    background-color: var(--hover_pulsante);
}




