article, .link {
    border: 1px solid black;
    border-radius: var(--border);
}


article {
    display: inline-block;
    height: 180px;
    width: 150px;
    text-align: center;
    margin: 8px 2%;
}

article >  header > img{
    width: 80px;
    height: 80px;
    margin: 10px 0px;
}

header > h3{
    margin-bottom: 10px;
    font-size: 14px;
    display: block;
}

.link {
    padding: 5px 20px;
    text-decoration: none;
    color: black;
}

.link:hover, .crea > input:hover {
    background-color: var(--hover_pulsante);
}

.crea{
    text-align: center;
    margin: 10px;
}

.crea > input{
    padding: 10px 20px;
    border-radius: var(--border);
}

