:root{
    --height_main: 500px;
}


h1, h2 {
    text-align: center;
}

h2{
    font-size: 20px;
}

.carrello, .dati{
    border: 1px solid black;
}

.carrello, .dati, .dati-spedizione , .dati-pagamento, .riepilogo-ordine {
    border-radius: var(--border);
}

.carrello{
    margin-left: 2%;
    display: inline-block;
    width: 30%;
    height: var(--height_main);
    overflow-y: auto;
}

.carrello::-webkit-scrollbar {
    display: none;
}


.dati{
    float: right;
    margin-right: 2%;
    margin-top: 10px;
    width: 60%;
}

.dati-spedizione{
    margin: 20px auto 30px;
    width: 90%;
    height: auto;
}

.dati-spedizione > div, .dati-pagamento > div, .riepilogo-ordine > div {
    text-align: center;
}


.dati-spedizione > div > input, .dati-pagamento > div > input, .riepilogo-ordine > div > input{
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    text-align: center;
}

.dati-spedizione > div:nth-child(2){
    width: 90%;
}

.dati-spedizione > div > label{
    font-size: 18px;
}

.dati-spedizione > div:nth-child(2) > input{
    width: 60%;
}

.dati-spedizione > div:nth-child(3){
    float: left;
    width: 40%;
    margin-top: 10px;
    margin-left: 10%;
    margin-bottom: 20px;
}

.dati-spedizione > div:nth-child(4){
    float: right;
    width: 40%;
    margin-top: 10px;
    margin-right: 10%;
    margin-bottom: 20px;
}

.dati > div{
    margin: 0px auto 30px;
    width: 90%;
    height: auto;
}

.dati-pagamento{
    display: inline-block;
    padding-top: 7%;
    padding-bottom: 10%;
    width: 45%;
    height: max-content;
}

.dati-pagamento > div{
    margin: 10px 0px;
}


.riepilogo-ordine{
    float: right;
    width: 42%;
    height: fit-content;
    padding-top: 4%;
    padding-left: 0px;
    margin-top: auto;

}

.riepilogo-ordine > div{
    margin: 20px 0px;
}

.riepilogo-ordine > div > input{
    padding: 10px 20px;
    border-bottom-style: hidden;
}

.riepilogo-ordine > div > input:hover{
    background-color: orange;
}

@media screen and (max-width: 768px) {

    .carrello{
        margin: 15px 5%;
        display: block;
        width: 90%;
        height: var(--height_main);
    }
    
    .dati{
        margin: 50px 5%;
        display: block;
        width: 90%;
        height: fit-content;
    }

    .dati-spedizione{
        margin: 30px auto 30px;
        padding-left: 0%;
        width: 90%;
        height: fit-content;
    }

    .dati-pagamento, .riepilogo-ordine {
        margin-bottom: 20px;
    }

    .dati-spedizione > div:nth-child(2) {
        margin-top: 20px;
    }
    
    .dati-spedizione > div:nth-child(3), .dati-spedizione > div:nth-child(4){
        float: none;
        width: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-right: auto;
    }

    .dati-spedizione > div:nth-child(4){
        margin-right: 0px;
    }

    
    .dati > div{
        margin: 30px auto 30px;
        padding-left: 0%;
        width: 90%;
        height: fit-content;
    }
    
    .dati-pagamento{
        width: 100%;
        height: 50%;
        padding: 0px;
    }
    
    .riepilogo-ordine{
        float: none;
        width: 100%;
        height: 50%;
        padding: 0px;
    }
      
}
