
div.articolo{
    
    display: inline-block;
    margin-top: 10px;
    margin-left: 30px;
    width: 20%;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 10px;
   
}

div.articolo:first-of-type{
    margin-left: 30px;

}

img.prodotto{
    padding: 5px;
    display: block;
    margin:0px auto;
    text-align: center;
    width:80%;
    
    
}

p.prezzo {
    text-align: center;
    vertical-align: top;
    
    order: 1px solid #88D86B

}

p.nome{
    text-align: center;
}

p.disponibilità{
    text-align: center
}
p.disponibilità[value ="Disponibile"]{
    color: green;
}

p.disponibilità[value ="Non disponibile"]{
    color:red;
}

p.disponibilità[value ="Ultimi pezzi"]{
    color:orange;
}


@media screen and (max-width: 768px){

    div.articolo{
        width:20%;
        margin: 10px 30px;
    }
}