div.articolo{

    display: inline-block;
    width: 20%;
   
}

img.prodotto{
    display: block;
    margin:0px auto;
    text-align: center;
    width:20%;
    
    
}

p.prezzo {
    text-align: center;
    vertical-align: top;
    
    order: 1px solid #88D86B

}

p.nome{
    text-align: center;
}

p.disponibilità{
    text-align: center;
    color: green;
}
