/*Sezione di ricerca*/
section.ricerca{
    background-color: #76A99A;
    padding: 10px 5px;
}

/*FORM DI RICERCA */
main > section > form{
    display: inline-block;
    background-color: #98DAC6;
    border-radius: 20px;
    width: 25%;
    margin: 0;
    min-width:285px;
}

/*LABEL FORM DI RICERCA */
section > form > label{
    vertical-align: super;
    margin:10px 10px 10px 20px;
    font-family: verdana, "Helvetica Neue", Helvetica, sans-serif;
    color: black;
}

/*Form dove si scrive*/
main > section.ricerca > form.ricerca > label > input {
    background-color: #98DAC6;
    border: none;
    padding-left: 10px;
    vertical-align:top;
    margin: 10px 10px;
    width: 40%;
    min-width: 100px;
}
main > section.ricerca > form.ricerca > label > input:focus{
    outline: none; /*Toglie il bordo blu da input text*/
}


/*Lente d'ingrandimento bottone*/
main > section > form > input[type="image"]{
    width: 25px;
    height: 25px;
    padding-top: 6px;
    padding-left: 10px;
    
}

/* BOTTONE FILTRA  HOVER*/
section > input[type="button"]:hover, fieldset > input:hover{  
    background-color: #E5A23C;
    border-radius: 20px;
}

/* BOTTONE FILTRA */
section > input[type="button"]{
    margin: 5px 20px 0 ;
    vertical-align:top;
    padding: 1px;
    background-color: #76A99A;
    border:none;
    width: 50px;
    height: 30px;    
}

/*  ASIDE */
aside{
    float: left;
    background-color: #DEF2C8;
    display:none;
    font-size: 18px;
    border-style: solid;
    border-color: #ebf3e2;
    border-width: 3px;
    width: 150px;
    overflow: visible;
    min-width: 107px;  
}

legend{
    display:none;
}

aside > form > fieldset {
    border:none;
    padding:0px;
}

aside > form > fieldset > label{
    display: block;
    margin-bottom: 5px;
}

aside > form > fieldset > p{
    margin: 10px 0;
}

/* PULSANTE FILTRA DENTRO ASIDE */
fieldset > input{
    margin: 10px auto;
    display: block;
    float:center;
    background-color: #def2c8;
    border:none;
    width: 50px;
    height: 30px;
}

main > section.articoli > p:first-of-type{
    margin: 20px auto;
    font-size: 22px;
}

/*CONTENITORE ARTICOLO */
div.articolo{
    display: inline-block;
    margin: 15px 1%;
    width: 20%;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 10px;
    vertical-align: top;
    text-align: center;
}


img.prodotto{
    padding: 5px;
    display: block;
    margin:0px auto;
    width: 80%;
}

p.prezzo{
    display:block;
    padding: 4px 5px;
    width: 45%;
    margin: 7px auto;
    background-color: yellow;
    border: 1px;
    border-style: solid;
    box-shadow: 1px 1px black;
}
p{
    margin: 5px;
    text-align: center;
    font-family: verdana;
    white-space: nowrap;
    overflow:hidden;
}

body > main > section.articoli > div.articolo > a:link,body > main > section.articoli > div.articolo > a:visited{
    width: 100%;
    padding: 5px;
    display: block;
    color:black;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-family: verdana;
    white-space: nowrap;
    overflow:hidden;
    box-sizing: border-box;
}

body > main > section.articoli > div.articolo > a:hover{
    text-decoration: underline;
}

p[class ="Disponibile"]{
    color: green;
}

p[class ="Non disponibile"]{
    color:red;
}

p[class ="Ultimi pezzi"]{
    color:orange;
}

/* PROPRIETA' SOLO PER SCHERMO PICCOLO */
@media screen and (max-width: 768px){

    div.articolo{
        width:30%;
        margin: 15px auto;
    }

    aside{
        box-sizing: border-box;
        width: 100%;
    }

    section.articoli{
        width: 100%;
        text-align: center;
    }

    aside{
        margin: 0px 0;
    }   
}

/* PROPRIETA' SOLO PER SCHERMO GRANDE */
@media screen and (min-width: 768px){
    
    div.articolo:nth-child(4n+1){
        margin-left: 55px;
    }
    aside{
        margin: 10px 0;
    }
    
}    