main > section > h2 {
    font-size: 26pt;
    text-align: center;
    margin-bottom: 0pt;;
}

main > section > p {
    font-size: 14pt;
    text-align: center;
    padding: 2%;
    margin: 0px;
}

main > section > .colonna {
    float:left;
    width: 29%;
    width: 29%;
    width: 29%;
    padding: 2%;
    border: solid;
    border-radius: 10px;
    margin-top: 2%;
    margin-left: 10%;
    background-color: #B5B909;
}

main > section > .colonna > img {
    height: 50px;
    width: 50px;
    margin-left: 4%;
    margin-top: 2%;
}

main > section > .colonna > h3 {
    font-size: 16pt;
    text-align: center;
    position: relative;
    top: -50pt;
    
}

main > section > .colonna > hr {
    margin-top: -50pt;
}


@media screen and (max-width: 768px){

    main > section > h2 {
        font-size: 24pt;
    }

    main > section > p {
        font-size: 12pt;
    }
    
    main > section > .colonna {
        float: inherit;
        width: 70%;
    }
    
    main > section > .colonna > img {
        height: 50px;
        width: 50px;
    }
    
    main > section > .colonna > h3 {
        font-size: 18pt;
        top: -65px;
        margin-left: 25px;
    }
      
}