.account{
    border: none;
}

fieldset{
    padding: 30px 10px 50px;
    border-radius: var(--border);
    background-color: white;
    height: 310px;
}

fieldset > legend{
    font-size: 20px;
    margin-top: 20px;
}


fieldset > div:nth-child(2), fieldset > div:nth-child(5), fieldset > div:nth-child(7), fieldset > div:nth-child(9){
    display: inline;
    float: left;
    margin-left: 5%;
    margin-right: 10px;
}

fieldset > div:nth-child(3), fieldset > div:nth-child(6), fieldset > div:nth-child(8){
    float: right;
    display: block;
    margin-right: 5%;
    margin-left: 10px;
}

fieldset > div:nth-child(2), fieldset > div:nth-child(5), fieldset > div:nth-child(9), fieldset > div:nth-child(3), fieldset > div:nth-child(6), fieldset > div:nth-child(8){
    margin-top: 20px;
    width: 38%;
}

fieldset > div:nth-child(4), fieldset > div:nth-child(7){
    float: left;
    width: 90%;
    text-align: start;
    margin-top: 20px;
    margin-left: 10%;
}

fieldset > div:nth-child(4), fieldset > div:nth-child(7){
    text-align: center;
}


@media screen and (max-width: 768px) {
    
    fieldset > div > input{
        margin-left: 0px;
    }

}