
div > ul{
    padding: 0px;
}

div > ul > li{
    list-style: none;
}

div > ul > li > input{
    border-top: none;
    border-left: none;
    border-right: none;
    margin-left: 10px;
}

div > ul > li:first-child, div > ul > li:nth-child(4), div > ul > li:nth-child(6), div > ul > li:nth-child(8){
    display: inline;
    float: left;
    margin-left: 5%;
    margin-right: 10px;
}

div > ul > li:nth-child(2), div > ul > li:nth-child(5), div > ul > li:nth-child(7){
    float: right;
    display: block;
    margin-right: 5%;
    margin-left: 10px;
}

div > ul > li:first-child, div > ul > li:nth-child(4), div > ul > li:nth-child(8), div > ul > li:nth-child(2), div > ul > li:nth-child(5), div > ul > li:nth-child(7){
    margin-top: 20px;
    width: 38%;
}

div > ul > li:nth-child(3), div > ul > li:nth-child(6){
    float: left;
    width: 90%;
    text-align: start;
    margin-top: 20px;
    margin-left: 10%;
}

div > ul > li:nth-child(3) > input, div > ul > li:nth-child(6) > input{
    width: 60%;
}




@media screen and (max-width: 768px) {
    
    div > ul > li > input{
        margin-left: 0px;
    }

}