section.intro {
   background-color: skyblue;
}
section > h1 {
    font-size: 40pt;
    font-family: sans-serif;
    text-align: center;
    color: white;
}

section > p {
    font-size: 21pt;
    text-align: center;
    color: white;
    background-color: #050505;
}
/*

.container2{
    height: 450px;
}

.container2 > section > h2 {
    font-size: 40pt;
    font-family: fantasy;
    text-align: center;   
}

.container2 > section {
    background-color: white;
    height: 450px;
}

.container2 > section > img {
    border: solid;
    position: relative;
    width: 250px;
    height: 250px;
    left: 150px;
    top: -110px;
}

.container2 > section > p {
    text-align: center;
    font-size: 21pt;
    
}
*/
section.artmom {
    background-color: #5fdd29;
    ;
}
section.artmom > h3 {
    font-family: sans-serif;
    font-size: 40pt;
    text-align: center; 
    margin-bottom: 5%;
}
section.artmom  > .articolo{
    background-color: #F4FDF0;
}

section.artmom > .articolo {
    float: left;
    width: 29%;
    width: 33%;
    width: 29%;
    padding: 2%;
}

section.artmom  > .articolo > img {
    position: relative;
    left: 120px;
    width: 240px;
    height: 240px;
}

section.artmom  > .articolo > p {
    font-size: 18;
    font-family: sans-serif;
    text-align: center;
    

}
section.allart > h4 {
    font-size: 40;
    font-family: sans-serif;
    text-align: center;
}

section.allart > .colonna > p {
    font-size: 20pt;
    font-family: sans-serif;
    text-align: left;
}
section.allart > .colonna {
    float: left;
    width: 29%;
    width: 33%;
    width: 29%;
    padding: 2%;
    background-color: #F4FDF0;
}

section.allart > .colonna > ul > li {
    text-align: left;
    font-size: 14pt;
}

img{
    position: relative;
    top: -45px;
    left: 720px;
    width: 60px;
    height: 60px;
}
/*
.container4 > section > form {
    text-align: center;
}
*/