section.intro {
    position: relative;
    margin-top: -45px;
    background-color: skyblue;
}
section.intro > h2 {
    font-size: 40pt;
    font-family: sans-serif;
    text-align: center;
    color: white;
}

section > p {
    font-size: 21pt;
    text-align: center;
    color: white;
    background-color: #050505;
}

section.artmom {
    background-color: #c1f1ac;
    position: relative;
    top: -45px;
    ;
}
section.artmom > h3 {
    font-family: sans-serif;
    font-size: 40pt;
    text-align: center; 
}
section.artmom  > .articolo{
    background-color: #F4FDF0;
}

section.artmom > .articolo {
    float: left;
    width: 29%;
    width: 33%;
    width: 29%;
    padding: 2%;
}

section.artmom  > .articolo > img {
    position: relative;
    top: -20px;
    left: 120px;
    width: 240px;
    height: 240px;
}

section.artmom  > .articolo > p {
    font-size: 18;
    font-family: sans-serif;
    text-align: center;
    

}
section.allart > h4 {
    font-size: 40pt;
    font-family: sans-serif;
    text-align: center;
    background-color: #c1f1ac ;
    margin-top: 320pt;
}

section.allart > .colonna > p {
    font-size: 20pt;
    font-family: sans-serif;
    text-align: left;
}

section.allart > .colonna > a {
    font-size: 10pt;
    font-family: sans-serif;
    text-align: center;
}

section.allart > .colonna {
    float: left;
    width: 29%;
    width: 29%;
    width: 29%;
    padding: 1.5%;
    margin: 0.5%;
    background-color: #F4FDF0;
    border-radius: 10px;
}

section.allart > .colonna > ul > li {
    text-align: left;
    font-size: 14pt;
}
main > hr {
    position: relative;
    margin-top: 80px;
    border-style: solid;
}
main > img{
    position: relative;
    top: -45px;
    left: 48%;
    width: 65px;
    height: 65px;
}

button {
    font-size: 16pt;
    text-align: center;
    color: white;
    position: relative;
    margin-left: 44%;
    margin-bottom: 2%;
    margin-top: 2%;
    color: black;
    background-color: yellow;
    height: 40pt;
    width: 140pt;
}

button:hover {
    background-color: orange;
}


/* PROPRIETA' SOLO PER SCHERMO PICCOLO */
@media screen and (max-width: 768px){

    main > img {
        width: 10%;
        height: 10%;
        top: -40px;
    }

    section > p {
        padding: 4px;
    }

    section.artmom {
        position: relative;
        margin-top: 80px;
    }

    section.artmom > .articolo {
        float: left;
        width:29%;
        width: 33%;
        width: 29%;
        padding: 2%;
    }
    
    section.artmom  > .articolo > img {
        position: relative;
        top: -5px;
        left: 30px;
        width: 110px;
        height: 110px;
    }

    button {
    font-size: 10pt;
    height: 40pt;
    width: 70pt;
    position: relative;
    margin-left: 40%;

    }

    section.allart > h4 {
        margin-top: 220pt;
    }
    

    section.allart > .colonna {
        float: initial;
        width: 50%;
        width: 50%;
        width: 50%;
        padding: 2.5%;
        position: relative;
        margin-left: 25%;
        margin-top: 2.5%;
        border-radius: 10px;
    }




}