section {
    background-color: #F4FDF0;
}

section > h2 {
    font-family: sans-serif;
    font-size: 40pt;
    text-align: center;
}

section > form {
    text-align: center;
    font-size: 16pt;
}

section > p {
    text-align: center;
    font-size: 16pt;
}

section > a {
    text-align: center;
    font-size: 14pt;
}
section > .login > form {
    text-align: center;
}

section > .login > form > input[type="submit"] {
    background-color: yellow;
}

label,input{
    display:inline-block;
    margin: 5px;
    font-size: 16px;
}

.google button{
  margin-left: 700px;
  width: 180px;
  padding: 5px 10px 10px 5px;
  background-color: #F65E00;
  color: white;
  text-align: center;
}

.facebook button{
  margin-left: 700px;
  width: 180px;
  padding: 5px 10px 10px 5px;
  background-color: #128FD6;
  color: white;
  text-align: center;
}

