
.notifica{
    margin-top: 20px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 10px 0px;
}

.notifica > form{
    width: 12%;
    float: right;
}

.testo_notifica {
    width: 80%;
    margin: 0px;
    text-align: left;
    font-family: verdana;
}

