

.articoli, .dati-spedizione, .riepilogo-ordine, .spedizione{
    border-radius: var(--border);
    background-color: white;
}

.articoli{
    float: right;
    width: 70%;
    height: 200px;
    overflow-x: hidden;
    border: 1px solid black;
    margin-right: 20px;
    background-color: var(--second_color);
}



fieldset.spedizione{
    display: inline;
    height: 300px;
    width: 30%;
    margin-left: 20px;
    margin-top: 20px;
    padding: 20px 1%;
    background-color: var(--second_color);
}

div.spedizione{
    height: 70px;
    background-color: var(--second_color);
}
.line{
    border-left: 5px solid black;
    height: 20px;
    margin-left: 40px;
    margin-bottom: 5px;
}

.spedizione > div > img{
    border-radius: 50%;
    margin-top: 10px;
    height: 40px;
    width: 40px;
}

.spedizione > div > h2{
    float: right;
    font-size: 18px;
}

.dati{
    float: right;
    height: 300px;
    width: 60%;
    margin-right: 20px;
    margin-top: 20px;
    text-align: center  ;
}

.dati-spedizione{
    height: 40%;
    background-color: var(--second_color);;
}

.riepilogo-ordine{
    height: 60%;
    background-color: var(--second_color);;
}


@media screen and (max-width: 768px) {

    .spedizione, .articoli, .dati, fieldset.spedizione{
        width: 80%;
    }

    fieldset.spedizione{
        height: auto;
    }

    .articoli, .dati{
        margin: 10px 10%;
        float: none;
    }

    .spedizione{
        margin-left: 0px;
        padding: 20px 0%;
    }

    .spedizione > div{
        text-align: start;
    }

    .spedizione > div > img{
        margin-left: 5%;
    }

    .spedizione > div > h2{
        margin-right: 5%;
    }
    
    .line{
        margin-left: 9%;
        margin-bottom: 5px;
    }

}