

.articoli{
    float: right;
    width: 70%;
    height: 200px;
    overflow-x: hidden;
    border: 1px solid black;
    border-radius: var(--border);
    margin-right: 20px;
}



.spedizione{
    display: inline;
    height: 300px;
    width: 30%;
    margin-left: 20px;
    margin-top: 20px;
    padding: 20px 1%;
}

.line{
    border-left: 5px solid black;
    height: 20px;
    margin-left: 5.5%;
    margin-bottom: 5px;
}

.spedizione > div > img{
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.spedizione > div > h3{
    float: right;
    font-size: 18px;
}

.dati{
    float: right;
    height: 300px;
    width: 60%;
    margin-right: 20px;
    margin-top: 20px;
}

.dati-spedizione, .riepilogo-ordine{
    height: 50%;
}


@media screen and (max-width: 768px) {

    .spedizione, .articoli, .dati{
        width: 80%;
    }

    .articoli, .dati{
        margin: 10px 10%;
        float: none;
    }

    .spedizione{
        margin-left: 0px;
        padding: 20px 0%;
    }

    .spedizione > div{
        text-align: start;
    }

    .spedizione > div > img{
        margin-left: 5%;
    }

    .spedizione > div > h3{
        margin-right: 5%;
    }
    
    .line{
        margin-left: 9%;
        margin-bottom: 5px;
    }

}