:root {
    --border: 15px;
    --main_color: #4F6D59;
    --second_color: #d5fde2;
    --hover_pulsante: #E5A23C;
}

.notifiche{
    border: 1px solid black;
    border-radius: var(--border);
    background-color: var(--second_color);
    display: none;
    height: 300px;
    width: 250px;
    position: absolute;
    top: 120px;
    right: 1%;
}

body, header {
    margin: 0;
    padding: 0;
}

body > header{
    background-color: var(--main_color);
}

body > header > img{
    padding: 5px 0px;
    display: block;
    margin:  auto;
    width: 50px;
    height: 50px;
}

nav{
    background-color: var(--main_color);
    border-style:solid;
    border-color: black;
    border-width: 2px 0 2px 0;
    height: 60px;
}

/*Lista in nav*/
nav > ul{
    list-style: none;
    margin: 0px;
    padding: 7px 0px;
    display: flex;
    align-items: center;
}

/*Pulsante hamburger*/
nav > ul > li:nth-child(4){
    display: none;
}

/*Primo li Homepage*/
nav > ul > li:first-child{
    margin-left: 20px;
}

/*Ultimo li Carrello*/
nav > ul > li:last-child{
    margin-right: 20px;
}

/*List item del nav*/
nav > ul > li{
    margin: 0px 10px;
}

/*li Account*/
nav > ul > li:nth-child(5){
    margin-left: auto;
}

/*Link dentro i li*/
nav > ul > li > a{
    text-decoration: none;
    display: block;
    color: white;
    font-family: verdana;
}

/*Hover li*/
nav > ul > li > a:hover, body > footer > section.servizioClienti > a:hover{
    background-color: var(--hover_pulsante);
    border-radius: 100px;
}


/*Primi 3 link*/
nav > ul > li:nth-child(-n+3)> a{
    padding: 10px 20px;
}

/*Icone Account notifiche carrello*/
nav > ul > li > a > img{
    width: 32px;
    height: 32px;
    padding: 7px 5px 3px 5px ; 
}

 /*Hover Account notifiche carrello*/
 nav > ul > li:nth-child(n+4)> a:hover{
    border-radius: 10px;
}

body > footer{
    color: white;
    text-align: center;
    padding:20px, 0px;
    font-family: verdana;
    clear: both;
}

/* Linea sotto immagine */
body > footer > div > hr{
    margin:0px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

/*Immagine montagne */
body > footer > div > img{
    width: 5%;
}

body > footer > section{
    background-color: var(--main_color);
    width: 33%;
    vertical-align: top;
    box-sizing: border-box;
    display: inline-block;
    color:white;
    height: 100px;
}

/*Titoli sezioni footer*/
body > footer > section > h2{
    margin: 0px 0px 5px;
    padding: 5px 0 7px 0;
}

body > footer > section.pagamentiSicuri{
    width: 34%;
}

body > footer > section.social > img{
    padding:0px;
    border-radius: 0px;
    color:none;
    width: 42px;
    height: 42px;
    padding: 1%;
}

body > footer > section > div{
    vertical-align: top;
    display: inline-block;
    width: 42px;
    height: 42px;
    margin: 2% 2% 0 2%;
    background-color: white;
    border-radius: 10px;
}

body > footer > section > div > img{
    width: 80%;
    height: auto;
    margin-top:10%;
}

body > footer > section > div > img[alt="mastercard"]{
  margin-top: 20%;
  width: 90%;
}

body > footer > section.servizioClienti > a{
    font-family: verdana;  
    color: white;  
    padding:5px;
}

body > footer > section.servizioClienti > a:hover{
    background-color: var(--hover_pulsante);
    color: white;
}

/*SCHERMO PICCOLO*/
@media screen and (max-width: 768px) {

    /*Nasconde i Home catalogo e contatti*/
    nav > ul > li:nth-child(-n+3){
        display: none;
    }
    
    /*Mostra hamburger pulsante*/
    nav > ul > li:nth-child(4){
        display: initial;
    }
    /*Hover pulsante hamburger*/
    nav > ul > li:nth-child(4) > a:hover{
    padding: 3px 3px 1px 2px;
}   

    nav > ul > li:nth-child(4) > a{
        display: block;
        margin-right: 10px;
    }
    
    body > footer > section, body > footer > section.pagamentiSicuri{
        box-sizing: content-box;
        display: block;
        width: 100%;
        border-width:  1px 0 0 0;
        border-style: solid;
        border-color: rgb(0, 0, 0);
        padding: 5px 0 15px;
    }
}