:root {
    --border: 15px;
    --main_color: #4F6D59;
    --hover_pulsante: #E5A23C;
  }

body, header {
    margin: 0;
    padding: 0;
}

body > header{
    background-color: var(--main_color);
}

body > header > img{
    padding: 5px 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    height: 50px;
}

nav{
    background-color: var(--main_color);
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    height: 50px;
}

nav > ul{
    list-style: none;
    margin: 0px;
    padding: 7px 0px;
    display: flex;
    align-items: center;
}

nav > ul > li:nth-child(4){
    display: none;
}

nav > ul > li:first-child{
    margin-left: 20px;
}

nav > ul > li:last-child{
    margin-right: 20px;
}

nav > ul > li{
margin: 0px 10px;
}

nav > ul > li:nth-child(5){
    margin-left: auto;
}

nav > ul > li > a{
    text-decoration: none;
    display: block;
    color: white;
}

nav > ul > li > a:hover{
    background-color: var(--hover_pulsante);
}


nav > ul > li:nth-child(-n+3)> a{
    padding: 10px 20px;
}


nav > ul > li > a > img{
    width: 32px;
    height: 32px;
}


body > footer{
    color: white;
    text-align: center;
    padding:20px, 0px;
    font-family: verdana;
    clear: both;
}

/* Linea sotto immagine */
body > footer > div > hr{
   
    margin:0px;
    border: 1px;
    border-style: solid;
    border-color: black;
}

/*Immagine montagne */
body > footer > div > img{
    width: 5%;
   
}

body > footer > section{
    background-color: var(--main_color);
    width: 33%;
    vertical-align: top;
    box-sizing: border-box;
    display: inline-block;
    color:white;
    height: 100px;
}

body > footer > section > h3{
    margin: 0px ;
    padding-bottom: 7px;
    padding-top:5px;
}


body > footer > section.pagamentiSicuri{
    width: 34%;
}

body > footer > section.social > img{
    padding:0px;
    border-radius: 0px;
    color:none;
    width: 42px;
    height: 42px;
    padding: 1%;
    
}

body > footer > section > div{
    vertical-align: top;
    display: inline-block;
    width: 42px;
    height: 42px;
    margin: 2% 2% 0 2%;
    background-color: white;
    border-radius: 10px;
}

body > footer > section > div > img{
    width: 80%;
    height: auto;
    margin-top:10%;
}

body > footer > section > div > img[alt="mastercard"]{
  margin-top: 20%;
  width: 90%;
}

body > footer > section.servizioClienti > a{
    font-family: verdana;  
    color: white;  
    padding:2px
    
}

body > footer > section.servizioClienti > a:hover{
    background-color: var(--hover_pulsante);
    color: white;
}

@media screen and (max-width: 768px) {

    nav > ul > li:nth-child(-n+3){
        display: none;
    }
    
    nav > ul > li:nth-child(4){
        display: initial;
    }

    nav > ul > li:nth-child(4) > a{
        display: block;
        margin-right: 10px;
    }

    nav > ul > li:nth-child(4):hover ~ :nth-child(-n+3){
        display: inline;
    } 

    body > footer > section.servizioClienti, body > footer > section.pagamentiSicuri, body > footer > section.social{
        box-sizing: content-box;
        display: block;
        width: 100%;

    }
}
